<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.u8f23.mikan_rss_converter.entity.mapper.RssFollowMapper">
    <resultMap type="pers.u8f23.mikan_rss_converter.entity.RssFollow" id="RssFollow">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="rssSite" column="rss_site" jdbcType="VARCHAR"/>
        <result property="regexFilter" column="regex_filter" jdbcType="VARCHAR"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="enabled" column="enabled" jdbcType="SMALLINT"/>
        <result property="followAddedTime" column="follow_added_time" jdbcType="INTEGER"/>
        <result property="followModifiedTime" column="follow_modified_time" jdbcType="INTEGER"/>
        <result property="lastUpdateSucceedTime" column="last_update_succeed_time" jdbcType="INTEGER"/>
        <result property="updateContinueFailCounter" column="update_continue_fail_counter" jdbcType="INTEGER"/>
    </resultMap>

    <!--通过实体作为筛选条件查询-->
    <select id="getFollowList" resultMap="RssFollow">
        select
        *
        from rss_follows
    </select>

    <select id="getFollowById" resultMap="RssFollow">
        select *
        from rss_follows
        where id = #{id}
        limit 1
    </select>

    <insert id="addFollow">
        insert into rss_follows(rss_site, regex_filter, comment)
        values (#{rssSite}, #{regexFilter}, #{comment});
    </insert>


    <delete id="deleteFollowById">
        delete
        from rss_follows
        where id = #{id}
    </delete>

    <update id="modifyFollowById">
        update rss_follows
        <set>
            <if test="rssSite != null">
                rssSite = #{rssSite},
            </if>
            <if test="regexFilter != null">
                regexFilter = #{regexFilter},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            follow_modified_time = (strftime('%s', 'now')),
            last_update_succeed_time = 0,
            update_continue_fail_counter = 0
        </set>
        where id =#{id}
    </update>
</mapper>
